@font-face {
  font-family: 'aldery';
  src: url('../font/adlery-pro.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  src: url('../font/Oxanium-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Arcade';
  src: url('../font/ARCADE_N.TTF') format('truetype');
}

@font-face {
  font-family: 'clip';
  src: url('../font/Clip.ttf') format('truetype');
}

@font-face {
  font-family: 'Neon pixel';
  src: url('../font/neon_pixel-7.ttf') format('truetype');
}

@font-face {
  font-family: 'Homemade Apple';
  src: url('../font/HomemadeApple-Regular.ttf') format('truetype');
}