@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "aldery";
  src: url("../font/adlery-pro.regular.ttf") format("truetype");
}
body {
  background-color: #65282e;
  color: #cde7e7;
  font-family: "Courier New", Courier, monospace;
  font-size: 10px;
}

header .header-top nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-top nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
header .header-full {
  height: 0px;
  position: fixed;
  width: 100%;
  background-color: #212322;
  color: #57A773;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  font-size: 42px;
  font-weight: bolder;
  z-index: 99;
  display: none;
}
header .header-full.show {
  height: 100%;
  opacity: 1;
  display: block;
}
header .header-full nav {
  height: 100%;
}
header .header-full nav ul {
  margin: 20px;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 50px;
}
header .header-full nav ul li {
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: -moz-min-content;
  width: min-content;
  transform: translateY(300%);
  transition: transform 0s ease-in-out 0.5s;
}
header .header-full nav ul li.show {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out 0.25s;
}
header .header-full nav ul li:hover {
  color: #212322;
  background-color: #57A773;
}

section {
  border: #552127 1px solid;
  margin-left: auto;
  margin-right: auto;
}

/***************
      CARD 
****************/
.card-container:hover .card-title {
  color: #57A773;
  text-decoration: none;
}

.card-container:hover .card-img {
  transform: scale(1.2);
}

.card-container {
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 5px;
}

.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}

.card-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  padding: 0 20px 10px;
  position: absolute;
  font-family: monospace;
  font-weight: bold;
  font-size: 2em;
  color: #cde7e7;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns, each taking up equal space */
  grid-gap: 20px; /* space between the items */
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #cde7e7;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/***************
  WRAP LOADER 
****************/
.wrap-loader {
  font-family: "aldery";
  animation: loading 2s ease-in-out;
  background-color: #212322;
  display: none;
  opacity: 0;
  left: 0;
  top: 0;
  color: white;
  width: 0px;
  height: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  z-index: 10;
}

@keyframes loading {
  0% {
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    opacity: 1;
    display: block;
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}/*# sourceMappingURL=alambik.css.map */