@import "reset";

@font-face {
    font-family: 'aldery';
    src: url('../font/debussy.ttf') format('truetype');
  }

$color-1: #157145;
$color-2: #57A773;
$color-3: #65282e;
$color-4: #B7245C;
$color-5: #edcbb1;

$color-6: #212322;
$color-7: #cde7e7;


body{
   background-color: $color-3;
   color: $color-7;
   font-family: "aldery", 'Courier New', Courier, monospace;
}

section {
    margin: 10px;
}


.wrap-loader {
    animation: loading 0.25s ease-in-out;
    background-color: $color-6;
    display: none;
    opacity: 0;
    left: 0;
    top:0;
    color:white;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    z-index: 10;
}





@keyframes loading {
    0% {
        display: block;
        opacity: 1;
        transform: translateY(0%);
    }
    75% {
        display: block;
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
        opacity: 1;
    }
}