@import "reset";

@font-face {
  font-family: 'aldery';
  src: url('../font/adlery-pro.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  src: url('../font/Oxanium-VariableFont_wght.ttf') format('truetype');
}

$color-1: #157145;
$color-2: #57A773;
$color-3: #65282e;
$color-3b: #552127;
$color-4: #B7245C;
$color-5: #edcbb1;

$color-10: #141614;
$color-11: #161716;

$color-20: #e5f3f3;
$color-22: #43f4f1;
$color-21: rgb(229, 195, 209);


body{
  background-color: $color-10;
  color: $color-20;
  font-family: 'Oxanium', monospace;
  font-size:medium;
}

header {

  .header-title{
    font-family: "aldery";
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
  }

  .header-top{
    font-size: 1.5em;
    z-index: 101;
    position:fixed;
    width: 100%;
    height: 80px;
    top:0;
    background-color: $color-10;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    
    nav {
      padding: 10px;
      width: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:20%;

      }
    }
  }

  .header-full {
    top:80px;
    height: 0px;
    position: fixed;
    width: 100%;
    background-color: $color-10;   
    color: $color-2;   
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    font-size: 42px;
    font-weight: bolder;
    z-index: 100;
    display: none;
  
    &.show {
      height: calc(100% - 80px);
      opacity: 1;
      display: block;
    }
    
    nav {
      height: 100%;   
      margin: 20px;   
  
      ul {
        height: 100%;
        display: flex;
        align-items: left;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 80px;
    
        li {
          border-radius: 5px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 2em;
          width: min-content;
          transform: translateY(300%);
          transition: transform 0s ease-in-out 1s;
          opacity: 0;

          &.show {
            transform: translateY(0%);  
            transition: transform 0.75s ease-in-out 0.25s, opacity 0.25s ease-in-out 0.25s;
            opacity: 1;
          }

          &:hover {
            color: $color-10;   
            background-color: $color-2;  
          }
        }
      }
    }
  }

  .header-buger {
    user-select: none;
    cursor: pointer;
  }
}

main {
  width: 1000px;
  margin: auto;
}

section {
//  border: $color-3b 1px solid;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
}


h1 {
  font-size: 1.5em;
}

/***************
      CARD 
****************/

.card-container:hover .card-title{    
  color: $color-2 ;
  text-decoration: none;
}

.card-container:hover .card-img{
  transform: scale(1.2);
}

.card-container {
  height: 200px;
  overflow: hidden;
  position: relative;  
  margin:5px
}

.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card-title{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  padding: 0 20px 10px;
  position: absolute;
  font-family: monospace;
  font-weight: bold;
  font-size: 2em;
  color: $color-20;   
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns, each taking up equal space */
  grid-gap: 20px; /* space between the items */
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $color-20;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

}


/***************
  NEON EFFECT 
****************/
.text-neon-blue {
  text-shadow:
    0 0 7px $color-20,
    0 0 10px $color-20,
    0 0 21px $color-20,
    0 0 42px $color-21,
    0 0 82px $color-21,
    0 0 92px $color-21,
    0 0 102px $color-21,
    0 0 151px $color-21;
}

.box-neon-blue {
  box-shadow:
    0 0 7px $color-20,
    0 0 10px $color-20,
    0 0 21px $color-20,
    0 0 42px $color-21,
    0 0 82px $color-21,
    0 0 92px $color-21,
    0 0 102px $color-21,
    0 0 151px $color-21;
}



/***************
  WRAP LOADER 
****************/

.wrap-loader {
  font-family: "aldery";
  animation: loading 2s ease-in-out;
  background-color: $color-10;
  display: none;
  opacity: 0;
  left: 0;
  top:0;
  color:$color-21;
  width: 0px;
  height: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  z-index: 1000;
}

@keyframes loading {
  0% {
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    opacity: 1;
    display: block;
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}

/***************
  BREAK POINT 
****************/
@media only screen and (max-width:800px) {
  main {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  }

  .header-top ul {
    display:none;
    opacity:0;

    li {
      display:none;
    }
  }
}


@media only screen and (max-width:1000px) {

}