@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #141614;
  color: #e5f3f3;
  font-family: "Oxanium", monospace;
  font-size: medium;
}

.home {
  overflow: hidden;
}

.section-container2 {
  position: relative;
}

.section-container {
  max-width: 1200px;
  width: calc(100% - 30px);
}

.container-billeterie {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.button-billeterie {
  margin: auto;
  background-color: #e5f3f3;
  color: #141614;
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.button-billeterie:hover {
  background-color: #141614;
  color: #e5f3f3;
}
.button-billeterie p {
  text-align: center;
}

/***************
      CARD 
****************/
.card-container {
  height: 90px;
  width: 90px;
  overflow: hidden;
  position: relative;
  grid-column: span 2;
  justify-self: center;
  /*
  &:hover {

    .card-title {    
      color: $color-2;
      text-decoration: none;
    }

    .card-img{
      transform: scale(1.2);
    }
  }
  */
}

.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}

.card-title {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  justify-content: flex-end;
  padding: 4px;
  position: absolute;
  font-size: 8px;
  text-align: center;
  color: #e5f3f3;
  background-color: rgba(0, 0, 0, 0.7);
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(144, 144, 144);
  background-clip: border-box;
  border: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/***************
  NEON EFFECT 
****************/
.text-neon-blue {
  text-shadow: 0 0 7px #e5f3f3, 0 0 10px #e5f3f3, 0 0 21px #e5f3f3, 0 0 42px rgb(97, 255, 85), 0 0 82px rgb(97, 255, 85), 0 0 92px rgb(97, 255, 85), 0 0 102px rgb(97, 255, 85), 0 0 151px rgb(97, 255, 85);
}

.box-neon-blue {
  box-shadow: 0 0 7px #e5f3f3, 0 0 10px #e5f3f3, 0 0 21px #e5f3f3, 0 0 42px rgb(97, 255, 85), 0 0 82px rgb(97, 255, 85), 0 0 92px rgb(97, 255, 85), 0 0 102px rgb(97, 255, 85), 0 0 151px rgb(97, 255, 85);
}

.text-neon {
  color: #3e3a3a;
  text-shadow: none;
  font-family: "Neon pixel";
}

.text-neon-pink {
  animation: blinking-pink 4s infinite none;
}

.text-neon-blue {
  animation: blinking-blue 3s infinite none;
}

/***************
  WRAP LOADER 
****************/
.wrap-loader {
  font-family: "aldery";
  animation: loading 2s ease-in-out;
  background-color: #141614;
  display: none;
  opacity: 0;
  left: 0;
  top: 0;
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-image: url("../images/pattern/dark-brick-wall-2d-vector-260nw-337691504.jpg");
  width: 0px;
  height: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  z-index: 1000;
}

@keyframes loading {
  0% {
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    opacity: 1;
    display: block;
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}
@keyframes blinking-pink {
  0% {
    color: rgb(241, 26, 127);
    text-shadow: 0 0 0.2em rgb(241, 26, 127), 0 0 0.5em rgb(241, 26, 127), 0 0 0.8em rgb(241, 26, 127);
  }
  86% {
    color: rgb(241, 26, 127);
    text-shadow: 0 0 0.2em rgb(241, 26, 127), 0 0 0.5em rgb(241, 26, 127), 0 0 0.8em rgb(241, 26, 127);
  }
  87% {
    color: #3e3a3a;
    text-shadow: none;
  }
  89% {
    color: rgb(241, 26, 127);
    text-shadow: 0 0 0.2em rgb(241, 26, 127), 0 0 0.5em rgb(241, 26, 127), 0 0 0.8em rgb(241, 26, 127), 0 0 1.2em rgb(241, 26, 127);
  }
  97% {
    color: rgb(241, 26, 127);
    text-shadow: 0 0 0.2em rgb(241, 26, 127), 0 0 0.5em rgb(241, 26, 127), 0 0 0.8em rgb(241, 26, 127), 0 0 1.2em rgb(241, 26, 127);
  }
  98% {
    color: #3e3a3a;
    text-shadow: none;
  }
}
@keyframes blinking-blue {
  0% {
    color: #27D1F6;
    text-shadow: 0 0 0.2em #27D1F6, 0 0 0.5em #27D1F6, 0 0 0.8em #27D1F6, 0 0 1.2em #27D1F6, 0 0 2em #27D1F6;
  }
  86% {
    color: #27D1F6;
    text-shadow: 0 0 0.2em #27D1F6, 0 0 0.5em #27D1F6, 0 0 0.8em #27D1F6, 0 0 1.2em #27D1F6, 0 0 2em #27D1F6;
  }
  87% {
    color: #3e3a3a;
    text-shadow: none;
  }
  89% {
    color: #27D1F6;
    text-shadow: 0 0 0.2em #27D1F6, 0 0 0.5em #27D1F6, 0 0 0.8em #27D1F6, 0 0 1.2em #27D1F6, 0 0 2em #27D1F6;
  }
  97% {
    color: #27D1F6;
    text-shadow: 0 0 0.2em #27D1F6, 0 0 0.5em #27D1F6, 0 0 0.8em #27D1F6, 0 0 1.2em #27D1F6, 0 0 2em #27D1F6;
  }
  98% {
    color: #3e3a3a;
    text-shadow: none;
  }
}
/***************
  BREAK POINT 
****************/
@media only screen and (max-width: 800px) {
  main {
    width: 100%;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  }
  .header-top ul {
    display: none;
    opacity: 0;
  }
  .header-top ul li {
    display: none;
  }
}/*# sourceMappingURL=alambik.css.map */