@import "reset";

@font-face {
    font-family: 'aldery';
    src: url('../font/adlery-pro.regular.ttf') format('truetype');
  }

$color-1: #157145;
$color-2: #57A773;
$color-3: #65282e;
$color-3b: #552127;
$color-4: #B7245C;
$color-5: #edcbb1;

$color-6: #212322;
$color-7: #cde7e7;


body{
  background-color: $color-3;
  color: $color-7;
  font-family: 'Courier New', Courier, monospace;
  font-size:medium;
}

header {
  
  .header-top{

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:50px;

      }
    }
  }

  .header-full {
    height: 0px;
    position: fixed;
    width: 100%;
    background-color: $color-6;   
    color: $color-2;   
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    font-size: 42px;
    font-weight: bolder;
    z-index: 99;
    display: none;
  
    &.show {
      height: 100%;
      opacity: 1;
      display: block;
    }
    
    nav {
      height: 100%;      
  
      ul {
        margin: 20px;
        height: 100%;
        display: flex;
        align-items: left;
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 50px;
    
        li {
          border-radius: 5px;
          padding-left: 10px;
          padding-right: 10px;
          width: min-content;
          transform: translateY(300%);
          transition: transform 0s ease-in-out 0.5s;

          &.show {
            transform: translateY(0%);  
            transition: transform 0.5s ease-in-out 0.25s;
          }

          &:hover {
            color: $color-6;   
            background-color: $color-2;  
          }
        }
      }
    }
  }
}


section {
  border: $color-3b 1px solid;
  margin-left: auto;
  margin-right: auto;
}


/***************
      CARD 
****************/

.card-container:hover .card-title{    
  color: $color-2 ;
  text-decoration: none;
}

.card-container:hover .card-img{
  transform: scale(1.2);
}

.card-container {
  height: 200px;
  overflow: hidden;
  position: relative;  
  margin:5px
}

.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.card-title{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: flex-end;
  padding: 0 20px 10px;
  position: absolute;
  font-family: monospace;
  font-weight: bold;
  font-size: 2em;
  color: $color-7;   
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns, each taking up equal space */
  grid-gap: 20px; /* space between the items */
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $color-7;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;

}

/***************
  WRAP LOADER 
****************/

.wrap-loader {
  font-family: "aldery";
  animation: loading 2s ease-in-out;
  background-color: $color-6;
  display: none;
  opacity: 0;
  left: 0;
  top:0;
  color:white;
  width: 0px;
  height: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  z-index: 10;
}

@keyframes loading {
  0% {
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    opacity: 1;
    display: block;
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}