@import "reset";



$color-1: #157145;
$color-2: #57A773;
$color-3: #65282e;
$color-3b: #552127;
$color-4: #B7245C;
$color-5: #edcbb1;

$color-10: #141614;
$color-11: #161716;
$color-12: #212321;

$color-20: #e5f3f3;
$color-22: #43f4f1;
$color-22: #a3ebe8;
$color-21: rgb(97, 255, 85);


$color-100: rgb(241,26,127);

body{
  background-color: $color-10;
  color: $color-20;
  font-family: 'Oxanium', monospace;
  font-size:medium;
}



.home {
  overflow: hidden;
}

.section-container2 {
  position: relative;
}

.section-container {
  max-width: 1200px;
  width: calc(100% - 30px);
}

.container-billeterie {
  margin-top:100px;
  width:100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.button-billeterie {
  margin: auto;
  background-color: #e5f3f3;
  color: #141614;
  width: 140px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  &:hover {
    background-color: #141614;
    color: #e5f3f3;
  }

  p {
    text-align: center;
  }
}


/***************
      CARD 
****************/

.card-container {
  height: 90px;
  width:90px;
  overflow: hidden;
  position: relative;  
  grid-column: span 2;
  justify-self: center;

  /*
  &:hover {

    .card-title {    
      color: $color-2;
      text-decoration: none;
    }

    .card-img{
      transform: scale(1.2);
    }
  }
  */
}

.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  transition: transform 0.5s ease;

}

.card-title{
  position: relative;
  bottom:0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  justify-content: flex-end;
  padding: 4px;
  position: absolute;
  font-size: 8px;
  text-align: center; 
  color: $color-20;   
  background-color: rgba(black,0.7);
}


.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(144, 144, 144);
  background-clip: border-box;
  border: 2px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}


/***************
  NEON EFFECT 
****************/
.text-neon-blue {
  text-shadow:
    0 0 7px $color-20,
    0 0 10px $color-20,
    0 0 21px $color-20,
    0 0 42px $color-21,
    0 0 82px $color-21,
    0 0 92px $color-21,
    0 0 102px $color-21,
    0 0 151px $color-21;
}

.box-neon-blue {
  box-shadow:
    0 0 7px $color-20,
    0 0 10px $color-20,
    0 0 21px $color-20,
    0 0 42px $color-21,
    0 0 82px $color-21,
    0 0 92px $color-21,
    0 0 102px $color-21,
    0 0 151px $color-21;
}

.text-neon {
  color: #3e3a3a;
  text-shadow: none;
  font-family: "Neon pixel";
}

.text-neon-pink {
  animation: blinking-pink 4s infinite none;
}

.text-neon-blue {
  animation: blinking-blue 3s infinite none;
}


/***************
  WRAP LOADER 
****************/

.wrap-loader {
  font-family: "aldery";
  animation: loading 2s ease-in-out;
  background-color: $color-10;
  display: none;
  opacity: 0;
  left: 0;
  top:0;
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-image: url('../images/pattern/dark-brick-wall-2d-vector-260nw-337691504.jpg');
  
  width: 0px;
  height: 0px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8em;
  z-index: 1000;
}

@keyframes loading {
  0% {
    transform: translateY(0%);
    height: 100%;
    width: 100%;
    opacity: 1;
    display: block;
  }
  75% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes blinking-pink {

  0% {  
    color: $color-100;
    text-shadow:
      0 0 0.2em $color-100,
      0 0 0.5em $color-100,
      0 0 0.8em $color-100,
  }
  86% {  
    color: $color-100;
    text-shadow:
      0 0 0.2em $color-100,
      0 0 0.5em $color-100,
      0 0 0.8em $color-100,
  }
  
  87% {
    color: #3e3a3a;
    text-shadow: none;
  }
  89% {  
    color: $color-100;
    text-shadow:
      0 0 0.2em $color-100,
      0 0 0.5em $color-100,
      0 0 0.8em $color-100,
      0 0 1.2em $color-100,
  }

  97% {  
    color: $color-100;
    text-shadow:
      0 0 0.2em $color-100,
      0 0 0.5em $color-100,
      0 0 0.8em $color-100,
      0 0 1.2em $color-100,
  }
  98% {
    color: #3e3a3a;
    text-shadow: none;
  }
}

@keyframes blinking-blue {

  0% {  
    color: #27D1F6;
    text-shadow:
      0 0 0.2em #27D1F6,
      0 0 0.5em #27D1F6,
      0 0 0.8em #27D1F6,
      0 0 1.2em #27D1F6,
      0 0 2.0em #27D1F6;
  }
  86% {  
    color: #27D1F6;
    text-shadow:
      0 0 0.2em #27D1F6,
      0 0 0.5em #27D1F6,
      0 0 0.8em #27D1F6,
      0 0 1.2em #27D1F6,
      0 0 2.0em #27D1F6;
  }
  
  87% {
    color: #3e3a3a;
    text-shadow: none;
  }
  89% {  
    color: #27D1F6;
    text-shadow:
      0 0 0.2em #27D1F6,
      0 0 0.5em #27D1F6,
      0 0 0.8em #27D1F6,
      0 0 1.2em #27D1F6,
      0 0 2.0em #27D1F6;
  }

  97% {  
    color: #27D1F6;
    text-shadow:
      0 0 0.2em #27D1F6,
      0 0 0.5em #27D1F6,
      0 0 0.8em #27D1F6,
      0 0 1.2em #27D1F6,
      0 0 2.0em #27D1F6;
  }
  98% {
    color: #3e3a3a;
    text-shadow: none;
  }
}

/***************
  BREAK POINT 
****************/
@media only screen and (max-width:800px) {
  main {
    width: 100%;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  }

  .header-top ul {
    display:none;
    opacity:0;

    li {
      display:none;
    }
  }
}