
@font-face {
  font-family: 'aldery';
  src: url('../font/adlery-pro.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Arcade';
  src: url('../font/Oxanium-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Arcade2';
  src: url('../font/ARCADE_N.TTF') format('truetype');
}

@font-face {
  font-family: 'clip';
  src: url('../font/Clip.ttf') format('truetype');
}

$color-pri: #02D1F2;
$color-pri-dark: #0A90A6;
$color-sec: #F11A7F;
$color-sec-dark: #A6024E;
$color-ter: #F2DE33;

main {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('../images/background/bg_city_retro.jpg');
    min-height: 100vh;
    padding-top: 120px;
    font-family: "Arcade", sans-serif;
}

main {
  section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.inscription {
  border: $color-pri 0.125em solid;
  max-width: 500px;
  width: 100%;
  font-family: "Arcade";
  font-size: 1em;
  color: $color-pri;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(20px);
  margin-top: 10px;

}

.form-control {
  margin: 0.5em 0px;
}

input {
  padding: 2px;
  background-color: transparent;
  border: $color-sec 0.125em solid;
  width: 100%;
}

.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  gap:2em;

  * {
    width: 100%;
  }
}

.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each taking up equal space */
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submit-element {
  border: $color-pri 0.125em solid;
  padding: 0.125em;
  width: 100%;
  text-align: center;
}

.container-box {
  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    
    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        &:before {
          box-shadow: inset 0 0 0 0.4975em $color-sec;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      transition: 0.25s ease;

      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: transparent;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em $color-sec;
      }
    }
  }
}

.button {
  border: $color-sec 0.125em solid;
  padding: 0.125em;
  width: 100%;
  text-align: center;
  color: $color-sec;
  text-shadow:
    0 0 5px $color-sec;
  box-shadow:
    0 0 5px $color-sec,
    inset 0 0 5px $color-sec;
}
/*



select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  box-shadow:none;
  border:0!important;
  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color:#fff;
  cursor:pointer;
  font-size: 1em;
  font-family: "Arcade", sans-serif;
}

option {
  font-family: "Arcade";
}





input[type="checkbox"],
input[type="radio"]{
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $color-pri;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  transform: scale(1);
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}
