@font-face {
  font-family: 'aldery';
  src: url('../font/adlery-pro.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  src: url('../font/Oxanium-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'clip';
  src: url('../font/Clip.ttf') format('truetype');
}

$color-1: #157145;
$color-2: #57A773;
$color-3: #65282e;
$color-3b: #552127;
$color-4: #B7245C;
$color-5: #edcbb1;

$color-10: #141614;
$color-11: #161716;
$color-12: #212321;
$color-13: #444944;

$color-20: #e5f3f3;
$color-22: #43f4f1;
$color-22: #a3ebe8;
$color-21: rgb(97, 255, 85);

$color-100: #f11a7f;




