@font-face {
  font-family: 'aldery';
  src: url('../font/adlery-pro.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Oxanium';
  src: url('../font/Oxanium-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'clip';
  src: url('../font/Clip.ttf') format('truetype');
}

$color-1: #157145;
$color-2: #57A773;
$color-3: #65282e;
$color-3b: #552127;
$color-4: #B7245C;
$color-5: #edcbb1;

$color-10: #141614;
$color-11: #161716;
$color-12: #212321;
$color-13: #444944;

$color-20: #e5f3f3;
$color-22: #43f4f1;
$color-22: #a3ebe8;
$color-21: rgb(97, 255, 85);

main

.header-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2em;
    padding: 10px;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-faq {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columns, each taking up equal space */
  gap: 10px;
  padding: 50px;
}

.collapse-container {

  width:100%;
  height: min-content;
  max-width: 1000px;
  margin-bottom: 10px !important;
  margin: auto;
  background-color: $color-12;
  border-radius: 10px;
  padding: 20px;
  text-align: left;

  button {
    text-align: left;
  }


  .collapse-toggle {
    width:100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .arrow {
      position: relative;
      left:0px;
      border: solid rgb(226, 226, 226);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      transition: transform 0.5s ease-in-out;
    }

    &.active {
      .arrow { 
        transform: rotate(45deg);
      }
    }
  }

  .collapse-panel {
    overflow: hidden;
    width:100%;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
  }

  .collapse-content {
    margin-top: 10px;
  }
}


.search-container {
  background-color: $color-12;
  border-radius: 5px;
  padding:10px
}

/**********/


.scene {
  background-color: transparent;
  width: 120px;
  height: 70px;
  margin: 40px 0;
  perspective: 600px;
  rotate: 12deg;
  
  position: relative;
  top:-20px;
  left: calc(100vw - 180px);
}

.sign {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

}

.sign.is-flipped {
  transform: rotateY(180deg);
  
  .sign__face--front {
    opacity: 0;
  }
  
  .sign__face--back {
    opacity: 1;
  }

}

.sign__face {
  transition: opacity 0s ease 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 270%;
  text-align: center;
  font-size: 25px;
  font-family: "Clip";

  text-shadow:
    0 0 0.2em #F148FB,
    0 0 0.5em #F148FB,
    0 0 0.8em #F148FB,
    0 0 1.2em #F148FB,
    0 0 2.0em #F148FB;

    
  box-shadow:
    0 0 3px #27D1F6,
    0 0 13px #27D1F6, 
    inset 0 0 13px #27D1F6; 

  border: 1px solid #27D1F6 ;
  color:#F148FB;
}

.sign__face--front {
  background-color: transparent;
  opacity: 1;
}

.sign__face--back {
  background-color: transparent;
  transform: rotateY(180deg);
  opacity: 0;
}
