@import 'reset';


body {
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  font-family: 'Sofia',  Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1280px;
  padding: 0 24px;
  margin: auto;
}


$color-1: rgb(12, 12, 12);
$color-2: rgb(187, 209, 220);
$color-3: rgb(1, 89, 172);

header {
  background-color: $color-1;
  position: fixed;
  width: 100%;
  height: auto;
  
  .header-top {
    height: 80px;
    width: 100%;
    color: $color-2;

    
    nav {
      top:0;
      height: 100%;
      background-color: $color-1;

      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap:30px;
        
          li {
            &:hover{
              color:$color-3
            }
          }
          
          
        }
        .element-top {
          &:hover {
            color:$color-3
          }
        }
      }
    }
  }  
}

.menu-full {
  height: 0%;
  top:80px;
  position: fixed;
  width: 100%;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  background-color: $color-1;
  opacity: 0;
  font-size: 42px;
  font-weight: bolder;
  color: $color-3;

  &.show {
    height: 100%;
    opacity: 1;
  }
  
  nav {
    height: 100%;

    ul {
      height: 100%;
  
      li {
        margin:30px;
        transform: translateY(1200%);
        transition: transform 0.5s ease-in-out 0.25s;
        
        &.show {
          transform: translateY(0%);  
        }

        &:hover {
          color:$color-2
        }

      }
    }
  }
}

