.parallax {
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px; 
    width: 80%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 40px;
}

.img {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px; 
    width: 300px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.img-caub {
    background-image: url('../images/artistes/CAUB.jpg');
}

.img-epicier {
    background-image: url('../images/artistes/Epicier.jpg');
}

.img-mtl {
    background-image: url('../images/artistes/MTL.jpg');
}

.img-joj {
    background-image: url('../images/artistes/joj.jpg');
}

.img-nicolas {
    background-image: url('../images/artistes/petit_nicolas.jpg');
}

.img-mario {
    background-image: url('../images/artistes/mario.png');
}

.img-banner {
    background-image: url('../images/alambik_banner.JPG');
}