.parallax {
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px; 
    width: 80%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 40px;
}

.img {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 350px; 
    width: 350px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.img-full {
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px; 
    width: 300px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.poster {
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 65vh; 
    width: 100%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.icon {
    background-color: inherit;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 30px; 
    width: 30px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

/***********
*  VISUEL  *
***********/

.img-poster  {
    background-image: url('/assets/images/affiche_alambik.jpg');
}


.img-banner {
    background-image: url('../images/alambik_banner.JPG');
}

/************
*  ARTISTE  *
************/


.img-beinjamin-prejence {
    background-image: url('/assets/images/artistes/beinjamin-prejence.JPG');
}

.img-antoine-clem {
    background-image: url('/assets/images/artistes/antoine-clem.JPG');
}

.img-antoine-leonard {
    background-image: url('/assets/images/artistes/antoine-leonard.JPG');
}

.img-leonard {
    background-image: url('/assets/images/artistes/leonard.JPG');
}

.img-ilyes {
    background-image: url('/assets/images/artistes/ilyes.JPG');
}

.img-theophile {
    background-image: url('/assets/images/artistes/theophile.JPG');
}

.img-peuto {
    background-image: url('/assets/images/artistes/peuto.JPG');
}

.img-caresse-express {
    background-image: url('/assets/images/artistes/caresse-express.JPG');
}

.img-duane-forrest {
    background-image: url('/assets/images/artistes/duane-forrest.JPG');
}


/**********
*  PERSO  *
**********/

.img-mario {
    background-image: url('../images/artistes/mario.JPG');
}



/*********
*  ICON  *
*********/

.icon-instagram {
    background-image: url('/assets/images/icon/instagram.png');
}

.icon-youtube {
    background-image: url('/assets/images/icon/youtube.png');
}

.icon-facebook {
    background-image: url('/assets/images/icon/facebook.png');
}

.icon-spotify {
    background-image: url('/assets/images/icon/spotify.png');
}

.icon-soundcloud {
    background-image: url('/assets/images/icon/soundcloud.png');
}