body {
  background:url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size:auto;
  background-repeat:repeat;
}


.infos-utiles {

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  p {
    font-family: 'Reenie Beanie';
    font-size: 1rem;
  }
  ul,li{
    list-style:none;
  }
  li {
    width: fit-content;
    break-inside: avoid; 
    padding-top:20px
  }
  ul{
    margin-left: 30px;
    margin-right: 30px;
    columns:4;
    justify-content: center;
    align-items: center;
    column-gap: 20px; /* Adjust the desired gap size */
  }
  ul li .postit{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:fit-content;
    width:300px;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
  }

  ul li:nth-child(even) .postit{
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  ul li:nth-child(3n) .postit{
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }
  ul li:nth-child(5n) .postit{
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

  ul li .postit:hover,ul li .postit:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }

  ul li{
    margin:1em;
  }  
}

@media only screen and (max-width:701px) {
  .infos-utiles {
    ul {
      columns:1;
    }
  }
}

@media only screen and (min-width:701px)  and (max-width:1051px) {
  .infos-utiles {
    ul {
      columns:2;
    }
  }
}

@media only screen and (min-width:1051px)  and (max-width:1401px) {
  .infos-utiles {
    ul {
      columns:3;
    }
  }
}