@import "reset";
@import "font";

// pink 180 90 144
// yellow 246 206 46 
// blue 
$color-1 : #b45a90;
$color-2 : #f6ce2e;

$color-pri: #F11A7F;
$color-pri-dark: #A6024E;
$color-sec: #02D1F2;
$color-sec-dark: #0A90A6;
$color-ter: rgb(242, 223, 48);
$color-ter-dark: rgb(121, 112, 24);
$color-grey: rgb(100, 100, 100);
$color-grey-dark: rgb(40, 40, 40);
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(188, 98%, 97%);

$color-3: #65282e;
$color-3b: #552127;
$color-4: #B7245C;
$color-5: #edcbb1;

$color-10: #141614;
$color-11: #161716;
$color-12: #212321;

$color-20: #e5f3f3;
$color-22: #43f4f1;
$color-22: #a3ebe8;
$color-21: rgb(97, 255, 85);


$color-100: rgb(241,26,127);

//$background-image:  url('../images/background/bg_city_retro.jpg');
//$background-image:  url('../images/affiche_alambik.jpg');
$background-image:  url('../images/icon/pac_man.gif');
$background-image-bottom:  url('../images/background/bg_city_retro-bottom.jpg');

:root {
  scrollbar-color: #470120 #0f0007;
  overflow-y: scroll;
}

body {

  display: flex;
  flex-direction: column;
  background-size: 100%;
  min-height: 100vh;
  max-width: 100vw !important;
  background-repeat: no-repeat;
  background-color: black;
  color:white;
//  background-image: $background-image;

  /*
  background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  -o-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  linear-gradient(rgba($color-pri, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
*/
  &.pac-man {
    background-position: center;  
    background-image: -webkit-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0.7) 100vh), $background-image;
    background-image:  -moz-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0.7)), $background-image;
    background-image:  -o-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0.7)), $background-image;
    background-image:  -ms-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0.7)), $background-image;
    background-image:  linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), $background-image;
  }
}



main {
  font-family: "Oxanium", sans-serif;
  font-size: 1em;
  width: 100%;
  margin-bottom: auto;
    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.btn {
  color: $color-pri;
  padding: auto;
  width: 100%;
  text-align: center;
  
  &.btn-border {
    border: $color-pri 0.125em solid;
  }  
}

.neon-text {
  animation: glowing 4s infinite none;
  
    &.pri {
      color:$color-pri;   

    }
    &.sec {
      color:$color-sec;   

    }
    &.ter {
      color:$color-ter;   

    }
}

@keyframes glowing {

  0% {  
    text-shadow:
      0 0 0.2em,
      0 0 0.5em,
      0 0 0.8em,
  }
  
  50% {  
    text-shadow:
      0 0 0.2em,
      0 0 0.5em,
      0 0 0.8em,
      0 0 1.2em,
  }

  100% {  
    text-shadow:
      0 0 0.2em,
      0 0 0.5em,
      0 0 0.8em,
  }
}

.neon-border {
  box-shadow:
    0 0 0.25em,
    inset 0 0 0.5em;
}


/**************************
***************************
***************************
**************************/

.clip {
  font-family: "Clip";
}

.aldery {
  font-family: "aldery";
}

footer {  
  width: 100%;
  background-image: -webkit-linear-gradient(rgba($color-black, 0),rgba($color-black, 0.7));
  background-image:  -moz-linear-gradient(rgba($color-black, 0),rgba($color-black, 0.7));
  background-image:  -o-linear-gradient(rgba($color-black, 0),rgba($color-black, 0.7));
  background-image:  -ms-linear-gradient(rgba($color-black, 0),rgba($color-black, 0.7));
  background-image:  linear-gradient(rgba($color-black,  0), rgba($color-black, 0.7));

  padding-top: 5vh;
  padding-bottom:20px;
}

header {  
  width: 100%;
  background-image: -webkit-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0));
  background-image:  -moz-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0));
  background-image:  -o-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0));
  background-image:  -ms-linear-gradient(rgba($color-black, 0.7),rgba($color-black, 0));
  background-image:  linear-gradient(rgba($color-black,  0.7), rgba($color-black, 0));

  padding-bottom: 5vh;

  .header-top{   
    width: 100%;
    top:0;    
    align-items: center;
    padding: 20px 0;
    
    nav {
      align-items: center;
      width: 100%;  
      position: relative;
      
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1em;

        li {
          font-size: 2.5em;
        }
      }

      .header-buger {  
        z-index: 101;
        position: absolute;
        font-size: 35px;
        top: -3px;
        right: 5vw;
        user-select: none;
        cursor: pointer;
        color:white;
      }

      .return-action {
        z-index: 99;
        position: absolute;
        font-size: 40px;
        top: 0;
        left: 5vw;
      }      
    }
  }

  .header-full {
    height: 0px;
    top:0px;
    position: fixed;
    width: 100vw;
    background-color: black; 
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
  
    &.show {
      height: 100%;
      opacity: 1;
      display: block;
      z-index: 100;
    }
    
    nav {
      height: 100%;   
      padding: 20px;   
  
      ul {
        padding: 15% 0;
        height: 100%;
        display: flex;
        align-items: left;
        justify-content: space-around;
        flex-direction: column;
    
        li {
          padding-left: 10px;
          padding-right: 10px;
          font-size: 2em;
        }
      }
    }
  }
}






/**************************
***************************
***************************
**************************/





.container-inscription {
  border: $color-sec 0.125em solid;
  max-width: 600px;
  width: 95%;
  font-family: "Arcade";
  font-size: 1em;
  color: $color-sec;
  //opacity: 1;
  background-color: rgba(0, 0, 0, .8);
  backdrop-filter: blur(20px);
  padding: 10px;

  &::before {    
    content: "";
    background-image: rgba(0,0,0,.8), url("../images/pattern/black-brick-wall-textured-background_53876-63572.avif");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
  }
}

.form-control {
  margin: 0.5em 0;
}

input {
  padding: 2px;
  background-color: transparent;
  border: $color-pri 0.125em solid;
  width: 100%;
}

.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
  * {
    width: 100%;
  }
}

.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
  * {
    width: 100%;
  }
}

.grid-4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
  * {
    width: 100%;
  }
}


.form-submit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submit-element {
  border: $color-sec 0.125em solid;
  padding: 0.125em;
  width: 100%;
  text-align: center;
}

.container-box {
  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    
    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        &:before {
          box-shadow: inset 0 0 0 0.4975em $color-pri;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      transition: 0.25s ease;

      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: transparent;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em $color-pri;
      }
    }
  }
}



/**************************
***************************
***************************
**************************/



.container-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 3 columns, each taking up equal space */
  justify-items: end;
  gap:5px;

  div {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
}

.container-programmation {
  background-color: rgb(35, 29, 32);
  border: 3px rgb(144, 144, 144) solid;
  border-radius: 2px;
  width: fit-content;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-img-border {
  border: 2px rgb(144, 144, 144) solid;
  width: fit-content;
  height: fit-content;
  
  position: relative;
}

.select-icon {
  position:absolute;
  text-align: center;
  top:-7px;
  left:-7px;  
  height: 18px;
  width: 45px;
  background-color: $color-grey;
  font-weight: 700;
  color: $color-grey-dark;
  padding: 0 4px;
  box-shadow: 4px 4px $color-grey-dark;
}



.select-img {
  width:calc(25vh*0.8);
  height: 25vh;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  margin:5px;

  &.select-img-default {
    background-color: $color-grey;
  }
}

.select-img-title {
  opacity: 0;
  border: 2px white solid;
  position: absolute;
  bottom:15px;
  font-size: 1em;
  border-radius: 1px;
  width:130px;
  height: fit-content ;
  overflow-wrap: break-word;
  text-align: center;
  background-color: rgba(black, 0.8);
  padding:3px;
  left:50%;
  transform: translateX(-50%);
}


.select-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &.selected {
    .select-icon {
      box-shadow: 4px 4px $color-ter-dark;
      color: $color-ter-dark;
      background-color: $color-ter;
    }

    .select-img-title {
      opacity: 1;
    }
  }
}

.select-details {
  padding:10px;
  width:350px;

  .special {
    margin-bottom: 10px;
    text-align: center;
  }

  .level {
    margin-left: 20px;
    font-weight: bold;
    color: $color-pri;
  }

  .difficulty {
    margin-left: 30px;
    text-align: center;
    width:200px;
    color:$color-sec;
    border: 2px $color-pri solid;
    border-radius: 10px;
    padding: 0 20px;
  }

  .score {
    padding-top: 10px;
    text-align: right;
    color: rgb(159, 159, 159);
    span {
      font-weight: bold;
      color: white;
    }
  }

  .insert-coin {
    margin-top: 20px;
    animation: insert-coin 1.5s infinite;
    text-align: center;
  }
}

.separator {
  height: 1px;
  border: 1px white solid;
  width: 40%;
  margin: 10px 30%;


}

@keyframes insert-coin {
  0% {  
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/**************************
***************************
***************************
**************************/


.header-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  h1 {
    font-size: 2em;
    padding: 10px;
    color:$color-pri;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:$color-white;
}

.container-faq {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columns, each taking up equal space */
  gap: 10px;
  padding: 50px;
  margin-top: 400px;
  transition: all 0.5s ease-in-out;

  &.filtered {
    margin-top: 40px;
  }
}

.collapse-container {
  width:100%;
  height: min-content;
  max-width: 1000px;
  margin-bottom: 10px !important;
  margin: auto;
  background-color: $color-pri-dark;
  border-radius: 10px;
  text-align: left;

  button {
    text-align: left;
  }


  .collapse-toggle {
    padding: 20px;
    width:100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .arrow {
      position: relative;
      left:0px;
      border: solid $color-white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      transition: transform 0.5s ease-in-out;
    }

    &.active {
      .arrow { 
        transform: rotate(45deg);
      }
    }
  }

  .collapse-panel {

    overflow: hidden;
    width:100%;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
  }

  .collapse-content {
    padding: 0 20px 20px  20px ;
  }
}


.search-container {
  background-color: $color-black;
  border-radius: 5px;
  padding:10px
}







/**************************
***************************
***************************
**************************/


.sign__scene {
  background-color: transparent;
  width: 120px;
  height: 70px;
  margin: 40px 0;
  perspective: 600px;
  rotate: 12deg;
  
  font-family: "Clip";
  position: relative;
  top:-20px;
  left: calc(100vw - 180px);

  .sign {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  
  }
  
  .sign.is-flipped {
    transform: rotateY(180deg);
    
    .sign__face--front {
      opacity: 0;
    }
    .sign__face--back {
      opacity: 1;
    }
  }
  
  .sign__face {
    transition: opacity 0s ease 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 270%;
    text-align: center;
    font-size: 25px;
    border: 1px solid $color-sec;
    color:$color-pri;
    box-shadow:
      0 0 0.25em $color-sec,
      inset 0 0 0.5em $color-sec;
  }
  
  .sign__face--front {
    background-color: transparent;
    opacity: 1;
  }
  
  .sign__face--back {
    background-color: transparent;
    transform: rotateY(180deg);
    opacity: 0;
  }
}



.prog-container {
//  text-align: center;
  margin: 0px 10%;


}


h2 {
  text-align: center;
}

.menu {
  padding: 0 20%;
  text-align: center;
}

.menu-header {
  width:100%;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.text-center { 
  text-align: center;
}

label[for="prenom"]::after, label[for="nom"]::after, label[for="email"]::after, label[for="billet"]::after {
  content: "*"; /* Display asterisk or any icon you prefer */
  font-size: 1em;
  margin-left: 4px; /* Adjust the spacing from the label */
}

/***************
      CARD 
****************/

.card-container {
  min-height:130px;
  min-width:130vh;
  height:18vh;
  width:18vh;
  overflow: hidden;
  position: relative;  
  grid-column: span 2;
  justify-self: center;

  /*
  &:hover {

    .card-title {    
      color: $color-2;
      text-decoration: none;
    }

    .card-img{
      transform: scale(1.2);
    }
  }
  */
}

.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
  object-fit: cover;
  transition: transform 0.5s ease;

}

.card-title{
  opacity: 0;
  display: none;

  position: relative;
  bottom:0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  justify-content: flex-end;
  padding: 4px;
  position: absolute;
  font-size: 0.75em;
  text-align: center; 
  color: $color-20;   
  background-color: rgba(black,0.7);
}


.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(144, 144, 144);
  background-clip: border-box;
  border: 2px solid transparent;
  border-radius: .25rem;
}


.mobile {
  opacity: 0;
  display: none;
}  

.galery {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  color:#000;
  font-family: 'Homemade Apple', cursive;
  font-size:20px;

  li{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 12px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:30px;
  }

  .dark-filter {
    width: fit-content;
    height: fit-content;
    background-color: #000;
  }

  li:hover{
    top:0px;    

    img {
      opacity: 1;
    }
  }

  li:nth-child(4n){
      transform:rotate(10deg);
  }

  li:nth-child(4n+1){
      transform:rotate(-3deg);
  }

  li:nth-child(4n+2){
      transform:rotate(-10deg);
  }

  li:nth-child(4n+3){
      transform:rotate(20deg);
  }

  p{
    margin: 12px 0 0 0;
  }

  img {
    width: 300px;
    height: auto;
    opacity: 0.9;
  }
}


/***************
  BREAK POINT 
****************/
@media only screen and (max-width:800px) {

  .galery {
    img {
      opacity: 1;
      width: 130px;
    }

    li{
      border:solid 12px #fff;
    }

    p {
      margin: 9px 0 0 0;
    }
  }


  .container-cards {
    grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  }

  .select-container {
    opacity: 0;
    display: none;
  }

  .card-title {
    opacity: 1;
    display: block;
  }


  .mobile {
    opacity: 1;
    display: block;
  }  
  
  .laptop {
    opacity: 0;
    display: none;
  }
}


.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  align-items: center;
  border: $color-sec 0.125em solid;
  font-family: "Arcade";
  font-size: 1em;
  color: $color-sec;
  background-color: rgba(0, 0, 0);

  button {
    margin-top: 20px;
    width: fit-content;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.close {
  cursor: pointer;
}

.modal-body {
  margin: 20px 0;
}



@media only screen and (min-width:800px)  and (max-width:1200px) {

  .container-cards {
    grid-template-columns: repeat(4, 1fr); /* 3 columns, each taking up equal space */
  }

  .mobile {
    opacity: 1;
    display: block;
  }  
  
  .laptop {
    opacity: 0;
    display: none;
  }
}



