@charset "UTF-8";
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─
/*─                                                                                      RESET
/*─
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
/*─────────────────────────────────────────────────────────────────────────────────────────────────*/
* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased; /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased; /*─ idem : Debug safari font weight when fixed element on the page ─*/
}

html, body, nav, header, footer, div, span,
h1, h2, h3, p,
a, img,
ul, li,
table, form, label, input, textarea, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

input, textarea, select, button {
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit]:hover,
button:hover {
  cursor: pointer;
}

input::-ms-clear {
  display: none; /*─ IE11 → remove cross to close ─*/
}

textarea {
  overflow: auto; /*─ Hide scroll bar on IE ─*/
}

a {
  color: inherit;
  text-decoration: none;
}

img, video, svg, picture {
  display: block;
}

img, video {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "aldery";
  src: url("../font/adlery-pro.regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium";
  src: url("../font/Oxanium-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Arcade";
  src: url("../font/ARCADE_N.TTF") format("truetype");
}
@font-face {
  font-family: "clip";
  src: url("../font/Clip.ttf") format("truetype");
}
@font-face {
  font-family: "Neon pixel";
  src: url("../font/neon_pixel-7.ttf") format("truetype");
}
@font-face {
  font-family: "Homemade Apple";
  src: url("../font/HomemadeApple-Regular.ttf") format("truetype");
}
:root {
  scrollbar-color: #470120 #0f0007;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw !important;
  background-repeat: no-repeat;
  background-color: black;
  color: white;
  /*
    background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
    background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
    background-image:  -o-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
    background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
    background-image:  linear-gradient(rgba($color-pri, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  */
}
body.pac-man {
  background-position-x: center;
  background-position-y: top;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/icon/pac_man.gif");
}

main {
  font-family: "Oxanium", sans-serif;
  font-size: 1em;
  width: 100%;
}
main section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: #F11A7F;
  padding: auto;
  width: 100%;
  text-align: center;
}
.btn.btn-border {
  border: #F11A7F 0.125em solid;
}

.neon-text {
  animation: glowing 4s infinite none;
}
.neon-text.pri {
  color: #F11A7F;
}
.neon-text.sec {
  color: #02D1F2;
}
.neon-text.ter {
  color: rgb(242, 223, 48);
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 0.15em, 0 0 0.4em;
  }
  70% {
    text-shadow: 0 0 0.15em, 0 0 0.4em, 0 0 0.7em, 0 0 1em;
  }
  100% {
    text-shadow: 0 0 0.15em, 0 0 0.4em;
  }
}
.neon-border {
  box-shadow: 0 0 0.25em, inset 0 0 0.5em;
}

/**************************
***************************
***************************
**************************/
.clip {
  font-family: "Clip";
}

.aldery {
  font-family: "aldery";
}

footer {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 40%);
  padding-top: 5vh;
  padding-bottom: 20px;
  margin-top: auto;
}

header {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 60%, rgba(0, 0, 0, 0) 100%);
  padding-bottom: 5vh;
}
header .header-top {
  width: 100%;
  top: 0;
  align-items: center;
  padding: 20px 0;
}
header .header-top nav {
  align-items: center;
  width: 100%;
  position: relative;
}
header .header-top nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
header .header-top nav ul li {
  font-size: 2.5em;
}
header .header-top nav .header-buger {
  z-index: 101;
  position: absolute;
  font-size: 35px;
  top: -3px;
  right: 5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  color: white;
}
header .header-top nav .return-action {
  z-index: 99;
  position: absolute;
  font-size: 40px;
  top: 0;
  left: 5vw;
}
header .header-full {
  height: 0px;
  top: 0px;
  position: fixed;
  width: 100vw;
  background-color: black;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  display: none;
}
header .header-full.show {
  height: 100%;
  opacity: 1;
  display: block;
  z-index: 100;
}
header .header-full nav {
  height: 100%;
  padding: 20px;
}
header .header-full nav ul {
  padding: 5%;
  height: 100%;
  display: flex;
  align-items: left;
  justify-content: space-around;
  flex-direction: column;
}
header .header-full nav ul li {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2em;
}

/**************************
***************************
***************************
**************************/
.container-inscription {
  border: #02D1F2 0.125em solid;
  max-width: 600px;
  width: 95%;
  font-family: "Arcade";
  font-size: 1em;
  color: #02D1F2;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 10px;
}
.container-inscription::before {
  content: "";
  background-image: rgba(0, 0, 0, 0.8), url("../images/pattern/black-brick-wall-textured-background_53876-63572.avif");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.form-control {
  margin: 0.5em 0;
}

input {
  padding: 2px;
  background-color: transparent;
  border: #F11A7F 0.125em solid;
  width: 100%;
}

.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
}
.grid-2 * {
  width: 100%;
}

.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
}
.grid-3 * {
  width: 100%;
}

.grid-4 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
}
.grid-4 * {
  width: 100%;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submit-element {
  border: #02D1F2 0.125em solid;
  padding: 0.125em;
  width: 100%;
  text-align: center;
}

.container-box label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}
.container-box label input {
  position: absolute;
  left: -9999px;
}
.container-box label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4975em #F11A7F;
}
.container-box label span {
  display: flex;
  align-items: center;
  transition: 0.25s ease;
}
.container-box label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: transparent;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #F11A7F;
}

/**************************
***************************
***************************
**************************/
.container-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 3 columns, each taking up equal space */
  justify-items: end;
  gap: 5px;
}
.container-cards div {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.container-programmation {
  background-color: rgb(35, 29, 32);
  border: 3px rgb(144, 144, 144) solid;
  border-radius: 2px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-img-border {
  border: 2px rgb(144, 144, 144) solid;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.select-icon {
  position: absolute;
  text-align: center;
  top: -7px;
  left: -7px;
  height: 18px;
  width: 45px;
  background-color: rgb(100, 100, 100);
  font-weight: 700;
  color: rgb(40, 40, 40);
  padding: 0 4px;
  box-shadow: 4px 4px rgb(40, 40, 40);
}

.select-img {
  width: 20vh;
  height: 25vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
}
.select-img.select-img-default {
  background-color: rgb(100, 100, 100);
}

.select-img-title {
  opacity: 0;
  border: 2px white solid;
  position: absolute;
  bottom: 15px;
  font-size: 1em;
  border-radius: 1px;
  width: 130px;
  height: -moz-fit-content;
  height: fit-content;
  overflow-wrap: break-word;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.select-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.select-container.selected .select-icon {
  box-shadow: 4px 4px rgb(121, 112, 24);
  color: rgb(121, 112, 24);
  background-color: rgb(242, 223, 48);
}
.select-container.selected .select-img-title {
  opacity: 1;
}

.select-details {
  padding: 10px;
  width: 350px;
}
.select-details .special {
  margin-bottom: 10px;
  text-align: center;
}
.select-details .level {
  margin-left: 20px;
  font-weight: bold;
  color: #F11A7F;
}
.select-details .difficulty {
  margin-left: 30px;
  text-align: center;
  width: 200px;
  color: #02D1F2;
  border: 2px #F11A7F solid;
  border-radius: 10px;
  padding: 0 20px;
}
.select-details .score {
  padding-top: 10px;
  text-align: right;
  color: rgb(159, 159, 159);
}
.select-details .score span {
  font-weight: bold;
  color: white;
}
.select-details .insert-coin {
  margin-top: 20px;
  animation: insert-coin 1.5s infinite;
  text-align: center;
}

.separator {
  height: 1px;
  border: 1px white solid;
  width: 40%;
  margin: 10px 30%;
}

@keyframes insert-coin {
  0% {
    opacity: 1;
  }
  69% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/**************************
***************************
***************************
**************************/
.header-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.header-faq h1 {
  font-size: 2em;
  padding: 10px;
  color: #F11A7F;
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(188, 98%, 97%);
}

.container-faq {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columns, each taking up equal space */
  gap: 10px;
  padding: 50px;
  margin-top: 400px;
  transition: all 0.5s ease-in-out;
}
.container-faq.filtered {
  margin-top: 40px;
}

.collapse-container {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  max-width: 1000px;
  margin-bottom: 10px !important;
  margin: auto;
  background-color: #A6024E;
  border-radius: 10px;
  text-align: left;
}
.collapse-container button {
  text-align: left;
}
.collapse-container .collapse-toggle {
  padding: 20px;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.collapse-container .collapse-toggle .arrow {
  position: relative;
  left: 0px;
  border: solid hsl(188, 98%, 97%);
  border-width: 3px 0 0 3px;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  transition: transform 0.5s ease-in-out;
}
.collapse-container .collapse-toggle.active .arrow {
  transform: rotate(45deg);
}
.collapse-container .collapse-panel {
  overflow: hidden;
  width: 100%;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}
.collapse-container .collapse-content {
  padding: 0 20px 20px 20px;
}

.search-container {
  background-color: hsl(0, 0%, 0%);
  border-radius: 5px;
  padding: 10px;
}

/**************************
***************************
***************************
**************************/
.sign__scene {
  background-color: transparent;
  width: 120px;
  height: 70px;
  margin: 40px 0;
  perspective: 600px;
  rotate: 12deg;
  font-family: "Clip";
  position: relative;
  top: -20px;
  left: calc(100vw - 180px);
}
.sign__scene .sign {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.sign__scene .sign.is-flipped {
  transform: rotateY(180deg);
}
.sign__scene .sign.is-flipped .sign__face--front {
  opacity: 0;
}
.sign__scene .sign.is-flipped .sign__face--back {
  opacity: 1;
}
.sign__scene .sign__face {
  transition: opacity 0s ease 0.3s;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 270%;
  text-align: center;
  font-size: 25px;
  border: 1px solid #02D1F2;
  color: #F11A7F;
  box-shadow: 0 0 0.25em #02D1F2, inset 0 0 0.5em #02D1F2;
}
.sign__scene .sign__face--front {
  background-color: transparent;
  opacity: 1;
}
.sign__scene .sign__face--back {
  background-color: transparent;
  transform: rotateY(180deg);
  opacity: 0;
}

.prog-container {
  margin: 0px 10%;
}

h2 {
  text-align: center;
}

.menu {
  padding: 0 20%;
  text-align: center;
}

.menu-header {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 2em;
}

.text-center {
  text-align: center;
}

label[for=prenom]::after, label[for=nom]::after, label[for=email]::after, label[for=billet]::after {
  content: "*"; /* Display asterisk or any icon you prefer */
  font-size: 1em;
  margin-left: 4px; /* Adjust the spacing from the label */
}

/***************
      CARD 
****************/
.card-container {
  min-height: 130px;
  min-width: 130vh;
  height: 18vh;
  width: 18vh;
  overflow: hidden;
  position: relative;
  grid-column: span 2;
  justify-self: center;
  /*
  &:hover {

    .card-title {    
      color: $color-2;
      text-decoration: none;
    }

    .card-img{
      transform: scale(1.2);
    }
  }
  */
}

.card-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: black;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}

.card-title {
  opacity: 0;
  display: none;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  justify-content: flex-end;
  padding: 4px;
  position: absolute;
  font-size: 0.75em;
  text-align: center;
  color: #e5f3f3;
  background-color: rgba(0, 0, 0, 0.7);
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(144, 144, 144);
  background-clip: border-box;
  border: 2px solid transparent;
  border-radius: 0.25rem;
}

.mobile {
  opacity: 0;
  display: none;
}

.galery {
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  color: #000;
  font-family: "Homemade Apple", cursive;
  font-size: 20px;
}
.galery li {
  text-align: center;
  display: inline-block;
  list-style: none;
  position: relative;
  border: solid 12px #fff;
  background: #fff;
  box-shadow: 0 0 15px 0px #555;
  transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  top: 30px;
}
.galery .dark-filter {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #000;
}
.galery li:hover {
  top: 0px;
}
.galery li:hover img {
  opacity: 1;
}
.galery li:nth-child(n) {
  transform: rotate(10deg);
}
.galery li:nth-child(even) {
  transform: rotate(-3deg);
}
.galery li:nth-child(3n) {
  transform: rotate(-10deg);
}
.galery li:nth-child(5n) {
  transform: rotate(20deg);
}
.galery p {
  margin: 12px 0 0 0;
}
.galery img {
  width: 300px;
  height: 250px;
  opacity: 0.8;
  -o-object-fit: cover;
  object-fit: cover;
}

/***************
  BREAK POINT 
****************/
@media only screen and (max-width: 800px) {
  .galery img {
    opacity: 1;
    width: 130px;
  }
  .galery li {
    border: solid 12px #fff;
  }
  .galery p {
    margin: 9px 0 0 0;
  }
  .container-cards {
    grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  }
  .select-container {
    opacity: 0;
    display: none;
  }
  .card-title {
    opacity: 1;
    display: block;
  }
  .mobile {
    opacity: 1;
    display: block;
  }
  .laptop {
    opacity: 0;
    display: none;
  }
}
.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  align-items: center;
  border: #02D1F2 0.125em solid;
  font-family: "Arcade";
  font-size: 1em;
  color: #02D1F2;
  background-color: rgb(0, 0, 0);
}
.modal-content button {
  margin-top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.close {
  cursor: pointer;
}

.modal-body {
  margin: 20px 0;
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
  .container-cards {
    grid-template-columns: repeat(4, 1fr); /* 3 columns, each taking up equal space */
  }
  .mobile {
    opacity: 1;
    display: block;
  }
  .laptop {
    opacity: 0;
    display: none;
  }
}/*# sourceMappingURL=style.css.map */