@import "reset";
@import "font";

$color-pri: #F11A7F;
$color-pri-dark: #A6024E;
$color-sec: #02D1F2;
$color-sec-dark: #0A90A6;
$color-ter: rgb(242, 223, 48);
$color-ter-dark: rgb(121, 112, 24);
$color-grey: rgb(100, 100, 100);
$color-grey-dark: rgb(40, 40, 40);
$color-black: hsl(332, 98%, 3%);
$color-white: hsl(188, 98%, 97%);

$background-image:  url('../images/background/bg_city_retro.jpg');

:root {
  scrollbar-color: #470120 #0f0007;
  overflow-y: scroll;
}

body {
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
//  background-image: $background-image;

  background-image: -webkit-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  -moz-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  -o-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  -ms-linear-gradient(rgba(0,0,0, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;
  background-image:  linear-gradient(rgba($color-pri, 0) 100vh,rgba($color-black, 1) 120vh), $background-image;

}



main {
    padding-top: 150px;
    min-height: 100vh;
    font-family: "Oxanium", sans-serif;
    font-size: 1em;


    section {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.btn {
  color: $color-pri;
  padding: auto;
  width: 100%;
  text-align: center;
  
  &.btn-border {
    border: $color-pri 0.125em solid;
  }  
}

.neon-text {
  text-shadow:
    0 0 0.5em;
}

.neon-border {
  box-shadow:
    0 0 0.25em,
    inset 0 0 0.5em;
}


/**************************
***************************
***************************
**************************/



header {
  font-family: "Neon pixel";
  position: fixed;
  width: 100%;

  .header-top{  
    color:$color-pri;  
    position:relative;
    font-size:4em;
    width: 100%;
    top:0;    
    align-items: center;
    padding: 20px;
    
    nav {
      width: 100%;
      
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap:1em;
        padding: 0 0 0 1.25em;
      }

      .header-buger {  
        position: absolute;
        font-size: 0.5em;
        top: 1.25em;
        right: 2em;
        user-select: none;
        cursor: pointer;
        color:$color-sec;
      }
    }
  }

  .header-full {
    height: 0px;
    top:0px;
    position: fixed;
    width: fit-content;
    background-color: #470120;
    color: $color-pri;   
    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    display: none;
  
    &.show {
      height: 100%;
      opacity: 1;
      display: block;
    }
    
    nav {
      height: 100%;   
      padding: 20px;   
  
      ul {
        height: 100%;
        display: flex;
        align-items: left;
        justify-content: space-between;
        flex-direction: column;
    
        li {
          border-radius: 5px;
          padding-left: 10px;
          padding-right: 10px;
          width: min-content;
          transform: translateY(300%);
          transition: transform 0s ease-in-out 1s;
          opacity: 0;

          &.show {
            transform: translateY(0%);  
            transition: transform 0.75s ease-in-out 0.25s, opacity 0.25s ease-in-out 0.25s;
            opacity: 1;
          }

          &:hover {
            color: $color-pri-dark;   
            background-color: $color-ter;  
          }
        }
      }
    }
  }
}






/**************************
***************************
***************************
**************************/





.container-inscription {
  border: $color-sec 0.125em solid;
  max-width: 500px;
  width: 100%;
  font-family: "Arcade";
  font-size: 1em;
  color: $color-sec;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(20px);
  margin-top: 10px;
  padding: 10px;
}

.form-control {
  margin: 0.5em 0;
}

input {
  padding: 2px;
  background-color: transparent;
  border: $color-pri 0.125em solid;
  width: 100%;
}

.grid-2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
  * {
    width: 100%;
  }
}

.grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each taking up equal space */
  gap: 5%;
  * {
    width: 100%;
  }
}


.form-submit {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.submit-element {
  border: $color-sec 0.125em solid;
  padding: 0.125em;
  width: 100%;
  text-align: center;
}

.container-box {
  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    
    input {
      position: absolute;
      left: -9999px;
      &:checked + span {
        &:before {
          box-shadow: inset 0 0 0 0.4975em $color-pri;
        }
      }
    }
    span {
      display: flex;
      align-items: center;
      transition: 0.25s ease;

      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: transparent;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em $color-pri;
      }
    }
  }
}



/**************************
***************************
***************************
**************************/



.container-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 3 columns, each taking up equal space */
  justify-content: center;
  gap:5px
}

.container-programmation {
  background-color: rgb(35, 29, 32);
  border: 2px rgb(144, 144, 144) solid;
  width: fit-content;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-img-border {
  border: 2px rgb(144, 144, 144) solid;
  width: fit-content;
  height: fit-content;
  
  position: relative;
}

.select-icon {
  position:absolute;
  text-align: center;
  top:-7px;
  left:-7px;  
  height: 18px;
  width: 45px;
  background-color: $color-grey;
  font-weight: 700;
  color: $color-grey-dark;
  padding: 0 4px;
  box-shadow: 4px 4px $color-grey-dark;
}



.select-img {
  width:165px;
  height: 200px;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  margin:5px;

  &.select-img-default {
    background-color: $color-grey;
  }
}

.select-img-title {
  opacity: 0;
  border: 2px white solid;
  position: absolute;
  bottom:15px;
  border-radius: 1px;
  width:150px;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(black, 0.8);
  padding:3px;
  left:50%;
  transform: translateX(-50%);
}


.select-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &.selected {
    .select-icon {
      box-shadow: 4px 4px $color-ter-dark;
      color: $color-ter-dark;
      background-color: $color-ter;
    }

    .select-img-title {
      opacity: 1;
    }
  }
}

.select-details {

  .level {
    margin-left: 20px;
    font-style: oblique 30deg;
    font-weight: bold;
    color: rgb(101,110,80);
  }

  .difficulty {
    margin-left: 30px;
    text-align: center;
    width:200px;
    color:red;
    border: 2px rgb(101,110,80) solid;
    border-radius: 10px;
    padding: 0 20px;
  }

  .score {
    padding-top: 10px;
    text-align: right;
    color: rgb(159, 159, 159);
    span {
      font-weight: bold;
      color: white;
    }
  }
}



/**************************
***************************
***************************
**************************/


.header-faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  h1 {
    font-size: 2em;
    padding: 10px;
    color:$color-pri;

  }
}

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:$color-white;
}

.container-faq {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 3 columns, each taking up equal space */
  gap: 10px;
  padding: 50px;
  margin-top: 400px;
  transition: all 0.5s ease-in-out;

  &.filtered {
    margin-top: 40px;
  }
}

.collapse-container {
  width:100%;
  height: min-content;
  max-width: 1000px;
  margin-bottom: 10px !important;
  margin: auto;
  background-color: $color-pri-dark;
  border-radius: 10px;
  padding: 20px;
  text-align: left;

  button {
    text-align: left;
  }


  .collapse-toggle {
    width:100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .arrow {
      position: relative;
      left:0px;
      border: solid $color-white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-135deg);
      transition: transform 0.5s ease-in-out;
    }

    &.active {
      .arrow { 
        transform: rotate(45deg);
      }
    }
  }

  .collapse-panel {
    overflow: hidden;
    width:100%;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
  }

  .collapse-content {
    margin-top: 10px;
  }
}


.search-container {
  background-color: $color-black;
  border-radius: 5px;
  padding:10px
}







/**************************
***************************
***************************
**************************/


.sign__scene {
  background-color: transparent;
  width: 120px;
  height: 70px;
  margin: 40px 0;
  perspective: 600px;
  rotate: 12deg;
  
  font-family: "Clip";
  position: relative;
  top:-20px;
  left: calc(100vw - 180px);

  .sign {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  
  }
  
  .sign.is-flipped {
    transform: rotateY(180deg);
    
    .sign__face--front {
      opacity: 0;
    }
    .sign__face--back {
      opacity: 1;
    }
  }
  
  .sign__face {
    transition: opacity 0s ease 0.3s;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 270%;
    text-align: center;
    font-size: 25px;
    border: 1px solid $color-sec;
    color:$color-pri;
    box-shadow:
      0 0 0.25em $color-sec,
      inset 0 0 0.5em $color-sec;
  }
  
  .sign__face--front {
    background-color: transparent;
    opacity: 1;
  }
  
  .sign__face--back {
    background-color: transparent;
    transform: rotateY(180deg);
    opacity: 0;
  }
}

