body {
    background-color: #1b1b1b;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    overflow-y: scroll;
}

nav {
    background-color: #3a2811;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

.footer {
    background-color: #3a2811;
}

a:hover {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.alk-nav {
    background-color: #3a2811;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

.separator-1 {
    border: 1px solid #ffffff;
    width: 100px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.prog {
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    color: #000000; 
}

.parallax {
    background-attachment: fixed; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 300px; 
    width: 80%;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    padding-top: 40px;
}

.player {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    padding-top: 20px;
    padding-bottom: 20px;
}



/***************
      CARD 
****************/

.card-container:hover .card-title{    
    color: #41b999;
    text-decoration: none;
}

.card-container:hover .card-img{
    transform: scale(1.2);
}

.card-container {
    height: 300px;
    overflow: hidden;
    position: relative;  
    margin:5px
}

.card-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-color: black;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card-title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    justify-content: flex-end;
    padding: 0 20px 10px;
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    font-size: 2em;
    color:#ffffff;   
}

