.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #202020;
    color:#ffffff;
    padding: 10px;
}
  
.nav-item:hover .sub-menu {
    display: block;
}

.hexagon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.hexagon {
    width: 200px;
    height: 113.1px;
    margin: 20px;
    position: relative;
    perspective: 1000px;
}
  
.hexagon:before {
    content: "";
    position: absolute;
    top: -56.55px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 56.55px solid #fff;
}
  
.hexagon:after {
    content: "";
    position: absolute;
    bottom: -56.55px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 56.55px solid #fff;
}
  
.hexagon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
/* ZOOM */




/* GRID */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* 3 columns, each taking up equal space */
    grid-gap: 10%; /* space between the items */
  }
  
  .grid-item {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
  }

/* DIAMOND */

  .main-nav {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 600px;
    height: 150px;
  }
  
  .main-nav li {
    list-style: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background: #000;
    transform: rotate(45deg);
    transition: 0.5s;
    margin: -100px;
    overflow: hidden;
    opacity: 0.6;
  }

  .main-nav li:hover {
    opacity: 1;
  }
  
  .main-nav li.item1 {
    top: 0;
    left: 0;
  }
  
  .main-nav li.item2 {
    bottom: 0;
    left: 25%;
  }
  
  .main-nav li.item3 {
    top: 0;
    left: 50%;
  }
  
  .main-nav li.item4 {
    bottom: 0;
    left: 75%;
  }
  
  .main-nav li.item5 {
    top: 0;
    left: 100%;
  }
  
  .main-nav li .bg {
    margin: -50px;
    width: 150%;
    height: 150%;
    transform: rotate(-45deg);

  }
  
  .main-nav li.item1 .bg {
    background: url(https://images.unsplash.com/photo-1636900741619-97032a3d4794?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1084&q=80);
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item2 .bg {
    background: url(https://images.unsplash.com/photo-1607707053756-210e12af7ab3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item3 .bg {
    background: url(https://images.unsplash.com/photo-1631112214068-25d3f2acee1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item4 .bg {
    background: url(https://images.unsplash.com/photo-1628143651406-04c07dbde4be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
    background-size: cover;
    background-position: center;
  }
  
  .main-nav li.item5 .bg {
    background: url(https://images.unsplash.com/photo-1622645615869-9c144a19d7e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=413&q=80);
    background-size: cover;
    background-position: center;
  }



@font-face {
    font-family: "freeread-regular";
    src: url("../font/freeread-regular.ttf") format("truetype");
}

@font-face {
    font-family: "debussy";
    src: url("../font/debussy.ttf") format("truetype");
}


.diamond {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 20px;
  }
  
  .diamond::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid gray;
  position: absolute;
  top: -50px;
  left: 0;
  }

  /**************
      CIRCLE
  ***************/

  .container-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .image-box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /*************/

  .gallery-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  
  .gallery2 {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  }