body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgb(37, 37, 37);
}

.menu {
  background-color: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-left: 200px;
}

.container {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(37, 37, 37);
  color:white;
  font-family: 'Press Start 2P';



  &:hover {
    visibility: inherit;
    opacity: 1 !important;
  }

}
.element {
  z-index: 2;
  font-size: 50px;
  background-color: transparent;
  color:rgb(1, 89, 172);
  transition: all 1s ease-out;
  position: absolute;
  background-color: transparent;
  transform: translate(0px,0px);

  

  &:hover {
    color:rgb(187, 209, 220);
    transition: all 0.2s ease-out;
  }
}

.element-sub {
  visibility: inherit;
  opacity: 0.5;
  position: absolute;
  color:transparent;
  -webkit-text-stroke: 1px #6b838f;
  z-index: 1;
  font-size: 90px;
  transform: translate(0px,0px);
  opacity: 0.15;
}